*{margin: 0;
  padding: 0;}

.colores{
   /* width: 600px;
    height: 600px;*/
    background-image: linear-gradient(to top, #1d1b24,   #c6c8cd   );
}
.medidas{
    width: 350px;
    height: 500px;
  
}
#right{
    width: 350px;
}
.division{
    height: 10px;
    width: 350;
    background-color: #1d1b24;
}
/*
class{
    color: white;   
}
*/

.color-blanco{
    color: white;
}
.nombre{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    font-size: 3rem;
    position: absolute;
 }
.foto{
    width: 350px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
}